html
{
    font-family: Arial;
}

.navcontainer {
    position: fixed;
    background-color: #F6F6F6;
    width: auto;
    border-bottom: thin solid #E1E1E1;
}

.navlist {
    overflow: hidden;
    list-style: none;
    display: inline-block;
    float:left;
    margin: 0;
    padding: 0;
}

.navcontainer li {
    display: inline;
    height: 50px;
    line-height: 50px;
}

.active {
    background-color: #E1E1E1;
    padding: 20px;

}

.navsearch {
    display:inline;
    float:right;
    padding-top: 10px;
}

.navlist a {
    color: #646464;
    text-decoration: none;
}

.navlist a:hover {
    color: #262626;
}

body {
    margin: 0 17.5% 0 17.5%;
}

.page-header {
    padding-top: 80px;
    padding-bottom: 5px;
    border-bottom: 1px solid #EEEEEE;
}

h1 {
    font-size: 36pt;
}

h2 {
    font-size: 24pt;
}

.navbar > a {
    display: block;
    float: left;
    width: 80px;
}

.col-md-6 {
    width: 50%;
    float: left;
}

.well {
    background-color: #EEEEEE;
    border: 1px solid grey;
    border-radius: 10px;
    min-height: 150px;
    padding: 10px;
}